$dds-color__sidebar-color: var(--dds-sidebar-color, white);
$dds-color__sidebar-background: var(--dds-sidebar-background, #858585);

$dds-color__white: #fff;
$dds-color__black-0025: #fcfcfc;
$dds-color__black-005: #fafafa;
$dds-color__black-000: #f6f6f6;
$dds-color__black-010: #f0f0f0;
$dds-color__black-020: #dedede;
$dds-color__black-030: #d0d0d0;
$dds-color__black-035: #9d9d9d;
$dds-color__black-040: #858585;
$dds-color__black-050: #545454;
$dds-color__black-060: #404040;
$dds-color__black-070: #353535;
$dds-color__black-075: #333;
$dds-color__black-080: #242424;
$dds-color__black-090: #000;
