.dds-component {
  position: relative;
  background: $dds-color__black-000;
  border-radius: 4px;
  width: 100%;
  padding: 24px;

  &__name {
    @extend %dds-typo__headline-1;

    margin: 0 0 24px;
  }

  &__source {
    margin-bottom: 24px;
    font-size: 14px;
    font-weight: normal;
    color: $dds-color__black-040;
  }

  &__source-label {
    margin-right: 4px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__source-path {
    font-family: Courier, monospace;
  }

  &__description {
    h1 {
      @extend %dds-typo__headline-1;

      margin: 24px 0;
    }

    h2 {
      @extend %dds-typo__headline-2;

      margin: 16px 0;
    }

    h3 {
      @extend %dds-typo__headline-3;

      margin: 12px 0;
    }

    h4 {
      @extend %dds-typo__headline-4;

      margin: 12px 0;
    }

    h1,
    h2,
    h3,
    h4 {
      &:first-child {
        margin-top: 0;
      }
    }

    p {
      margin: 0 0 16px;
    }

    a {
      color: $dds-color__black-070;
      text-underline-offset: 2px;
      transition: color 0.3s ease-in-out, text-underline-offset 0.3s ease-in-out;

      @media (hover: hover) {
        &:hover {
          color: $dds-color__black-090;
          text-underline-offset: 3px;
        }
      }
    }

    dds-example {
      margin: 24px 0 40px;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    code {
      display: inline-block;
      padding: 2px 8px;
      margin-bottom: 4px;
      background: $dds-color__black-020;
      color: $dds-color__black-070;
      border-radius: 4px;
    }

    pre code {
      background: $dds-color__black-010;
    }
  }
}
